[Unit]
Description=backend.servicee
After=network.target

[Service]
User=backend
WorkingDirectory=/opt/sausage-store/bin
Environment=REPORT_PATH=/var/sausage-store/reports
EnvironmentFile=/opt/sausage-store-backend.conf
ExecStart=/usr/bin/java -jar /opt/sausage-store/bin/sausage-store-0.0.1-SNAPSHOT.jar
Restart=always
StandardOutput=append:/opt/sausage-store/logs/out.log
StandardError=append:/opt/sausage-store/logs/error.log

[Install]
WantedBy=multi-user.target